@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;800&display=swap');
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: square;
}

.home-link {
    color: #ffffff;

}

.home-link:hover {
    color: white;
}

.center {
    margin: auto;
    text-align: center;
}

.round-corners {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.link {
    color: #2d8295;
}

.title-background {
    background: linear-gradient(210deg, rgba(0, 255, 215, 1) 0%, rgba(232, 0, 255, 1) 100%);
    font-size: 40pt;
    font-weight: 700;
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-family: 'DM Sans', sans-serif;

    position: relative;
}

.modded-title-background {
    background: linear-gradient(210deg, rgba(251, 218, 97, 1) 0%, rgba(255, 90, 205, 1) 100%);
    font-size: 40pt;
    font-weight: 700;
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-family: 'DM Sans', sans-serif;

    position: relative;
}
.title-text {
    padding-left: 20px;
    position: relative;
    left: -30px;
}

.ip-text {
    color: #ffffff;
    font-size: 40%;

    position: relative;
    left: -30px;
}

.body-text {
    text-align: justify;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

.big-text {
    text-align: left;
    font-family: 'Assistant', sans-serif;
    font-size: 40px;
}

.normal-text {
    text-align: left;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.logo {
    max-width: 100px;
    height: auto;
    position: relative;
    top: -5px;
    left: -30px;
}

.bolded {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}